<!DOCTYPE html>
<html>
  <head>
    <title>Sintesis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Teko:500,600" rel="stylesheet"> 
  </head>

  <body>
  	<!-- Bootstrap Navbar -->
  	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid center-content" style="">
  			<ul class="nav navbar-nav" style="">
          <%= render 'layouts/navbar-links' %>
  			</ul>
  		</div>
	</nav>

	<!-- Page Content -->
    <%= yield %>


  </body>
</html>


